p{
    font-size: 30px;
    line-height: 1.5;
    color: greenyellow;
}

#Heading-one{
    font-size: 30px;
    color:aqua ;
}
.text-highlight{
    background-color: black;
    border: 1px solid black;
    padding: 5px;
    margin: 20px;
}

button {
    background-color: #4CAF50;
    color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
